@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<img src="https://i.pinimg.com/originals/ec/33/20/ec33200873afb0e3f5795e446065f969.gif" />

<p>Use this area to provide additional information.</p>
